/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.sortable-ghost {
	opacity: 0;
}

.pointer {
	cursor: pointer;
}

.body-height {
	height: calc(100vh - 84px);
	min-height: calc(100vh - 84px);
	max-height: calc(100vh - 84px);
}

.kanban-list {
	list-style: none;
	height: fit-content;
	min-width: 275px !important;
	max-width: 275px;
	cursor: grab;
}

.kanban-list:active {
	cursor: grabbing;
}

.new-kanban-list {
	list-style: none;
	height: fit-content;
	min-width: 275px !important;
	max-width: 275px;
}

.list-items-height {
	min-height: 10px;
	max-height: calc(100vh - 200px);
}

.kanban-card {
	cursor: grab;
}

.kanban-card:active {
	cursor: grabbing;
}

.image {
	width: 150px;
}
